<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid bg-dark p-3">
    <a class="navbar-brand text-white" href="#">Agenda</a>
          <span class="navbar-toggler-icon"></span>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll">
        
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link</a>
        </li>
        
      </ul>

    </div>
  </div>
</nav>